<div class="card">
  <div class="card-header">
    Simple Controls
  </div>
  <div class="card-block">
    <a class="btn btn-primary" routerLink="/playground/cc">Collapsible Card</a>
    <a class="btn btn-primary" routerLink="/playground/select">Select</a>
    <a class="btn btn-primary" routerLink="/playground/enum-select">Enum-Select</a>
  </div>
</div>

<div class="playground__card">
  <div class="card">
    <div class="card-header">
      Reactive Forms
    </div>
    <div class="card-block">
      <a class="btn btn-primary" routerLink="/playground/rx-validation">Rx Validation</a>
      <a class="btn btn-primary" routerLink="/playground/rx-fc">Rx Form-Control with Validation</a>
    </div>
  </div>
</div>

<div class="playground__card">
  <div class="card">
    <div class="card-header">
      Prime NG
    </div>
    <div class="card-block">
      <a class="btn btn-primary" routerLink="/playground/primeng-editor">Editor</a>
    </div>
  </div>
</div>

<div class="playground__card">
  <div class="card">
    <div class="card-header">
      Aspects
    </div>
    <div class="card-block">
      <a class="btn btn-primary" routerLink="/playground/error">Error-Handling</a>
    </div>
  </div>
</div>

<div class="playground__card">
  <div class="card">
    <div class="card-header">
      Server-Connection
    </div>
    <div class="card-block">
      <a class="btn btn-primary" routerLink="/playground/server-get">Get from Server</a>
      <a class="btn btn-primary" routerLink="/playground/server-post">Post to Server</a>
    </div>
  </div>
</div>

<div class="playground__card">
  <div class="card">
    <div class="card-header">
      Component communication
    </div>
    <div class="card-block">
      <a class="btn btn-primary" routerLink="/playground/comp-com-parent-child">Parent -> Child</a>
    </div>
  </div>
</div>

<div class="playground__card">
  <div class="card">
    <div class="card-header">
      Reflection
    </div>
    <div class="card-block">
      <a class="btn btn-primary" routerLink="/playground/reflect">Reflect</a>
    </div>
  </div>
</div>

<div class="playground__card">
  <div class="card">
    <div class="card-header">
      Grid
    </div>
    <div class="card-block">
      <a class="btn btn-primary" routerLink="/playground/grid-builder">Grid-Builder</a>
    </div>
  </div>
</div>