<div class="card">
  <div class="card-header">
    Simple Controls
  </div>
  <div class="card-block">
    <a md-raised-button color="primary" routerLink="/playground/cc">Collapsible Card</a>
    <a md-raised-button color="primary" routerLink="/playground/select">Select</a>
    <a md-raised-button color="primary" routerLink="/playground/enum-select">Enum-Select</a>
  </div>
</div>

<div class="playground__card">
  <div class="card">
    <div class="card-header">
      Reactive Forms
    </div>
    <div class="card-block">
      <a md-raised-button color="primary" routerLink="/playground/rx-validation">Rx Validation</a>
    </div>
  </div>
</div>

<div class="playground__card">
  <div class="card">
    <div class="card-header">
      Prime NG
    </div>
    <div class="card-block">
      <a md-raised-button color="primary" routerLink="/playground/primeng-editor">Editor</a>
    </div>
  </div>
</div>


<div class="playground__card">
  <div class="card">
    <div class="card-header">
      Aspects
    </div>
    <div class="card-block">
      <a md-raised-button color="primary" routerLink="/playground/error">Error-Handling</a>
    </div>
  </div>
</div>