<md-sidenav-container class="app__sidenav-container--fullsize">
  <md-toolbar color="primary">
    <div class="app__header-div">
      <span [@sidebarArrowAnimation]="isSidebarOpen" class="fa fa-arrow-right fa-2x" (click)="openNavigationClicked()"></span>
      <span>&nbsp;|&nbsp;</span>
      <span class="app__header-title">
        {{applicationTitle }}
      </span>
    </div>
  </md-toolbar>

  <md-sidenav #sidenav mode="push" opened="false">
    <md-nav-list>
      <md-list-item *ngFor="let nav of appNavigationEntries">
        <a (click)="navigationClicked()" class="nav-link" [routerLink]="nav.baseUrl">{{ nav.displayText }}</a>
      </md-list-item>
    </md-nav-list>
  </md-sidenav>

  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>