@import '../../styles/styles';

.app__header-title {
  text-align: center;
}

.app__header-div {
    display: flex;
    align-items: center;
}

.app__sidenav-container--fullsize {
   position: fixed;
   height: 100%;
   min-height: 100%;
   width: 100%;
   min-width: 100%;
}

.app__sidenav-link--active {
  background: $app-accent;
  color: $app-primary;
}